.banner {
    display: block;
    padding: 5px;
    margin: 0;
    width: 100vw;
    height: 70vh;
    position: relative;
}

.bannerText {
    position: relative;
    top: 100px;
    left: auto;
    z-index: 10;
    text-align: center;
    color: white;
    background-color: cadetblue;
    opacity: 90%;
    border-radius: 10px;
    padding: 10px 20px;
}